<h1>Show Post</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li style="width: 100px">
    <strong>Image:</strong>
     <img src="<%=CrudApp.ImageUploader.url({@post.image, @post})%>">
  </li>

  <li>
    <strong>Description:</strong>
    <%= @post.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
